In [1]:
import pandas as pd

In [2]:
happiness = pd.read_csv("hapiness_report_2022.csv")

In [4]:
happiness.head

<bound method NDFrame.head of          country  score               income
0        Finland  7.821          High income
1        Denmark  7.636          High income
2        Iceland  7.557          High income
3    Switzerland  7.512          High income
4    Netherlands  7.415          High income
..           ...    ...                  ...
141     Botswana  3.471  Upper middle income
142       Rwanda  3.268           Low income
143     Zimbabwe  2.995  Lower middle income
144      Lebanon  2.955  Lower middle income
145  Afghanistan  2.404           Low income

[146 rows x 3 columns]>

In [5]:
happiness.columns

Index(['country', 'score', 'income'], dtype='object')

In [6]:
happiness.shape

(146, 3)

In [7]:
happiness.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  146 non-null    object
 1   score    146 non-null    float64
 2   income   140 non-null    object
dtypes: float64(1), object(2)
memory usage: 3.6+ KB

In [8]:
happiness['score'] = happiness['score'].astype('int')

In [26]:
happiness.dropna()

         country  score               income
0        Finland      7          High income
1        Denmark      7          High income
2        Iceland      7          High income
3    Switzerland      7          High income
4    Netherlands      7          High income
..           ...    ...                  ...
141     Botswana      3  Upper middle income
142       Rwanda      3           Low income
143     Zimbabwe      2  Lower middle income
144      Lebanon      2  Lower middle income
145  Afghanistan      2           Low income

[140 rows x 3 columns]

In [9]:
happiness

         country  score               income
0        Finland      7          High income
1        Denmark      7          High income
2        Iceland      7          High income
3    Switzerland      7          High income
4    Netherlands      7          High income
..           ...    ...                  ...
141     Botswana      3  Upper middle income
142       Rwanda      3           Low income
143     Zimbabwe      2  Lower middle income
144      Lebanon      2  Lower middle income
145  Afghanistan      2           Low income

[146 rows x 3 columns]

In [11]:
happiness[happiness['country']=='Nigeria']

     country  score               income
117  Nigeria      4  Lower middle income

In [27]:
happiness.to_csv('hwn.csv')

In [28]:
happiness[happiness['country']=='Taiwan']

   country  score income
25  Taiwan      6    NaN

In [22]:
happiness['score'].max()

7